<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
     <th:block th:if="${session.msg}">
        <!-- Automatically refresh the page after 3 seconds -->
        <meta http-equiv="refresh" content="3;url=/loadresetpassword" />
    </th:block>
</head>
<body>
<section>
	
	  <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Reset Password</h4>
                    </div>
                    <div class="card-body">
                 <form id="/" action="/resetPassword" method="post">
                           
                            <div class="form-group">
                                <label for="password">Enter New Password</label>
                                <input type="password" class="form-control" id="password" name="psw" required>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Enter Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPsw" required>
                            </div>
                            <input type="hidden" name="id" th:value="${id}">

                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                </div>
            <div class="card-footer text-center">
                    <th:block th:if="${msg != null}">
        <p class="text-center fs-4 text-success" th:text="${msg}"></p>
        <script>
            // Refresh the page after 3 seconds
            setTimeout(function() {
                window.location.href = '/loadresetpassword';
            }, 3000);
        </script>
    </th:block>
                </div>
               
                    
                </div>
            </div>
        </div>
    </div>
	
	</section>
</body>
</html>